src/main/mule/implementation/archive.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="archiveFlow" doc:id="2fab30d6-1658-4e7d-8ae7-bfcf6ba85065" >
		<ee:transform doc:name="JSON TO XML" doc:id="aa0c6698-d0aa-43aa-8b0d-4aa0acd1e777" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
BOOKS: {
    BOOK @(ID: "<dynamicvalue>"):
    {
        TITLE: "HELLO WORLD",
        AUTHOR: "RARFAOUI",
        PRICE: "120"
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="JSON TO XML1" doc:id="3b6e9fb1-c50d-4308-b16c-3947d89efaa9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
BOOKS: {
    BOOK @(ID:1):
    {
        TITLE: "HELLO WORLD",
        AUTHOR: "RARFAOUI",
        PUB_DATE: "19/03/2024",
        COVER: "BLACK",
        PRICE: "120",
        CATEGORY: "FICTION"
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="219abfc8-7370-4d52-b2e2-5fb24a5820f7" path="/${amazon-s3-sapi.request_path}" config-ref="HTTP_Request_configuration_amazons3">
			<http:body ><![CDATA[#[%dw 2.0
output multipart/form-data
---
{
	parts:{
		filePar:{
			headers:{
				"Content-Disposition":{
					"filename": "test"
				},
				"Content-Type": "application/xml"
			},
			content: payload
		}
	}
}]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : p('amazon-s3-sapi.client_secret'),
	"client_id" : p('amazon-s3-sapi.client_id')
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"bucketName" : "Notifications"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="044250c0-ea64-4bac-8a18-df2fae5ee9b7" />
		<http:request method="POST" doc:name="Request" doc:id="c211e3e6-befa-481a-97a0-5a139345d4ae" config-ref="HTTP_Request_configuration_amazons3" path="/${notification-papi.request_path}">
			<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : p('notification-papi.client_secret'),
	"client_id" : p('notification-papi.client_id')
}]]]></http:headers>
		</http:request>
	</flow>
</mule>
